$defra-brand-colour: #00a33b;


.defra-internal-header {
    padding: 20px 0;
    border-bottom: 2px solid $defra-brand-colour;
  }

  @media (min-width: 48.0625em) {
    .defra-internal-header {
      display: table;
      width: 100%;
      min-height: 35px;
    }
  }
  
  .defra-internal-header .defra-logo {
    min-width: 275px;
    margin-bottom: 15px;
  }
  
  @media (min-width: 48.0625em) {
    .defra-internal-header .defra-logo {
      display: table-cell;
      width: 33.33%;
      margin-bottom: 0;
    }
  }
  
  @media (min-width: 48.0625em) {
    .defra-internal-service-name {
      display: table-cell;
      vertical-align: middle;
      padding-left: 2em;
    }
  }
  
  .defra-internal-service-name__link {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
  }
  
  .defra-internal-service-name__link:link, .defra-internal-service-name__link:visited {
    color: $govuk-text-colour
  }
  
  @media (min-width: 48.0625em) {
    .defra-internal-service-name__link {
      font-size: 24px;
    }
  }
  
  .defra-logo {
    border-left: 2px solid $defra-brand-colour;
    padding-left: 8px;
  }

//   .c-defra-logo__title {
//     margin-left: 10px;
//   }
  
  .defra-logo__link {
    display: table;
  }
  
  .defra-logo__link::before {
    // content: '';
    // display: table-cell;
    // background: url($govuk-extensions-url-context + "/defra-template/assets/img/defra-crest.png") no-repeat;
    // background-size: 100% 100%;
    // width: 48px;
    // height: 40px;
  }
  
  .defra-logo__link:link, .defra-logo__link:visited {
    text-decoration: none;
    font-size: 20px;
    color: $govuk-text-colour;
  }
  
  .defra-logo__img {
    visibility: hidden;
    height: 0;
    width: 0;
  }
  